*{
    font-family: 'Bree Serif', serif;;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    font-weight: 400;
    background-color: #f2f2f2;
}
ol, ul {
    list-style: none;
}
a:hover {
    text-decoration: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
button {
    outline: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    margin:0;
    padding: 0;
}
a:focus {
    text-decoration: none;
    outline: none;
}
a:hover {
    color: #fff;
}
button {
    outline: none;
}
input {
    outline: none;
}
textarea {
    outline: none;
}
section {
    float: left;
    width: 100%;
    position: relative;
}
img {
    float: inherit;
}
p {
    font-size: 14px;
    line-height: 26px;
    color: #666666;
}
.size {
    max-width: 30px;
}
.avatar{
    margin-left: 15px;
}
.avatar-size{
    margin: 2px;
    max-width: 115px;
}
.avatar-size-1{
    max-width: 50px;
}
.main-left-sidebar{
    float: left;
    width: 100%;
}
.full-width{
    float: left;
    width: 100%;
    background-color: #fff;
    margin-bottom: 20px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.user-data{
    text-align: center;
}
.username-dt {
    float: left;
    width: 100%;
    background-color: #CC0000;
    padding-top: 40px;
}
.usr-pic {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    margin-bottom: -48px;
}
.user-specs h2 {
    float: left;
    width: 100%;
    padding: 63px 0 0 0;
    font-family: 'Bree Serif', serif;
    font-size: 16pt;
}
.user-specs h6 {
    float: left;
    width: 100%;
    /*padding: 63px 0 0 0;*/
    color: #939f9f;
    font-family: 'Bree Serif', serif;
    font-size: 8pt;
}
.user-specs span {
    font-family: 'Bree Serif', serif;
    font-size: 10pt;
    color: #939f9f;
}
.user-fw-status {
    float: left;
    width: 100%;
    padding-bottom: 15px;
}
.user-fw-status a{
    color: #CC0000;
}
ol, ul {
    list-style: none;
}
.logo-size{
    max-width: 40px;
}
.us-links {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    padding:  10px 0 10px 15px;
    margin: 0px;
    font-family: 'Bree Serif', serif;
}
.us-links li {
    padding-bottom: 8px;
}
.tc {
    text-align: center;
    margin-bottom: 0px;
    font-family: 'Bree Serif', serif;
    font-weight: bold;
}
a.waves-effect, a.waves-light {
    display: inline-block;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.navbar .dropdown-menu a {
    padding: 0px;
    font-size: .9375rem;
    color: #2b2b2b;
}
.padding{
    padding-top: 85px;
}
.user-fw-status{
    padding-left: 0;
    font-family: 'Bree Serif', serif;
    color: #939f9f;
}.nav-item{
    padding-top: 10px;
 }
 .nav-profile{
     padding-top: 0;
 }
.nav-item a{
    font-family: 'Bree Serif', serif;
}
.main-ws-sec {
    float: left;
    width: 100%;
}
.post-topbar {
    float: left;
    width: 100%;
    padding: 23px 20px;
    background-color: #fff;
    border-top: 4px solid #CC0000;
    border-left: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    box-shadow: 0 0 1px rgba(0,0,0,0.24);
    margin-bottom: 20px;
}
.post-st {
    float: right;
    margin-top: 5px;
}
.post-st ul li a:hover, .post-st ul li a.active {
    background-color: #CC0000;
    color: #fff;
}
.post-st ul li a {
    color: #b2b2b2;
    font-size: 16px;
    display: inline-block;
    background-color: #e5e5e5;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    font-weight: 500;
    font-family: 'Bree Serif', serif;
}
.post_project, .post-jb{
    border-radius: 10px;
}
.modal-notify .modal-header {
    border-radius: 3px 3px 0 0;
}
.modal-notify .modal-content {
    border-radius: 3px;
}

/* =================== main-ws-sec ================== */

.main-ws-sec {
    float: left;
    width: 100%;
}

/* ============ post-topbar =========== */

.post-topbar {
    float: left;
    width: 100%;
    padding: 23px 20px;
    background-color: #fff;
    border-top: 4px solid #CC0000;
    border-left: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.24);
    -ms-box-shadow: 0 0 1px rgba(0,0,0,0.24);
    -o-box-shadow: 0 0 1px rgba(0,0,0,0.24);
    box-shadow: 0 0 1px rgba(0,0,0,0.24);
    margin-bottom: 20px;
}
.user-picy {
    float: left;
    width: 50px;
}
.user-picy img {
    width: 100%;
    object-fit: cover;
}
.post-st {
    float: right;
    margin-top: 5px;
}
.post-st ul li {
    display: inline-block;
    margin-right: 6px;
}
.post-st ul li:last-child {
    margin-right: 0;
}
.post-st ul li a {
    color: #b2b2b2;
    font-size: 16px;
    display: inline-block;
    background-color: #e5e5e5;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    font-weight: 500;
}
.post-st ul li a:hover,
.post-st ul li a.active {
    background-color: #CC0000;
    color: #fff;
}


/* ================ posts-section ================== */

.posts-section {
    float: left;
    width: 100%;
}
.post-bar {
    float: left;
    width: 100%;
    background-color: #fff;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    /*box-shadow: 0 0 1px rgba(0,0,0,0.24);*/
    margin-bottom: 20px;
    border-radius: 5px;
}
.post_topbar {
    float: left;
    width: 100%;
    position: relative;
    padding: 20px 20px 15px 20px;
}
.usy-dt {
    float: left;
}
.usy-dt img {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    max-width: 50px;
}
.ed-opts {
    float: right;
    position: relative;
}
.ed-opts > a {
    color: #b2b2b2;
    /*font-size: 30px;*/
    float: right;
    position: relative;
    /*left: 13px;*/
}
.ed-options {
    position: absolute;
    top: 100%;
    right: 0;
    width: 130px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.28);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.28);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.28);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.28);
    box-shadow: 0 0 10px rgba(0,0,0,0.28);
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
}
.edit a {
    text-decoration-color: #fb2539;
}
.ed-options li {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.ed-options li:last-child {
    margin-bottom: 0;
}
.ed-options li a {
    color: #686868;
    font-size: 14px;
    font-weight: 600;
}
.ed-opts > a:hover {
    color: #CC0000;
}
.usy-name {
    float: left;
    margin-left: 10px;
}
.usy-name h3 {
    color: #000000;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 6px;
    margin-top: 2px;
}
.usy-name span {
    color: #b2b2b2;
    font-size: 14px;
}
.usy-name img {
    margin-top: 2px;
    margin-right: 6px;
}
.post_topbar i {
    /*	position: absolute;
        top: 20px;
        right: 5px;
        color: #b2b2b2;
        font-size: 30px;
    */}
.epi-sec {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding: 0 20px;
}
.descp {
    float: left;
    margin-top: 3px;
    padding-left: 0;
    font-size: 12px;
    color: #b2b2b2;
}
.descp li {
    display: inline-block;
    /*margin-right: 15px;*/
}
.descp li span {
    color: #b2b2b2;
    float: left;
}
.descp li i {
    /*margin-right: 5px;*/
}
.bk-links {
    float: right;
    border-radius: 12px;
}
.bk-links li {
    display: inline-block;
    margin-right: 7px;
}
.bk-links li:last-child {
    margin-right: 0;
}
.bk-links li i {
    color: #fff;
    font-size: 24px;
    width: 30px;
    height: 30px;
    background-color: #53d690;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
}
.bk-links li i.fa-envelope {
    background-color: #CC0000;
    font-size: 18px;
}
.bk-links li i.fa-bookmark {
    font-size: 18px;
}
.bid_now {
    color: #fff;
    background-color: #51a5fb;
    text-transform: capitalize;
    display: inline-block;
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    position: relative;
    top: -3px;
}
.bid_now:hover {
    color: #fff;
}


/* ============== job_descp ============ */

.job_descp {
    float: left;
    width: 100%;
    padding: 0 20px 20px 20px;
    border-bottom: 1px solid #e5e5e5;
}
.job_descp h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.job-dt {
    float: left;
    width: 100%;
    margin-bottom: 22px;
}
.job-dt li {
    display: inline-block;
    margin-right: 15px;
}
.job-dt li a {
    color: #fff;
    background-color: #53d690;
    text-transform: capitalize;
    padding: 5px 13px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
}
.job-dt li span {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}
.job_descp > p {
    color: #686868;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
}
.job_descp > p a {
    color: #CC0000;
    font-weight: 600;
}

/* ============= skill-tags =========== */

.skill-tags {
    float: left;
    width: 100%;
}
.skill-tags li {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 10px;
}
.skill-tags li a {
    display: inline-block;
    color: #b2b2b2;
    font-size: 14px;
    background-color: #e5e5e5;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    padding: 7px 15px;
    font-weight: 600;
}

/* ========== job-status-bar ========== */

.job-status-bar {
    float: left;
    width: 100%;
    padding: 15px 20px;
    /*font-size: 500px;*/
}
.like-com {
    float: left;
    /*font-size: 2px;*/
}
.like-com li {
    display: inline-block;
    margin-right: 15px;
}
.like-com li a {
    color: #b2b2b2;
    font-size: 14px;
    float: left;
    margin-top: 6px;
    margin-right: 5px;
}
.like-com li a:hover {
    color: #CC0000;
}
.like-com li a.active {
    color: #CC0000;
}
.like-com li a i {
    margin-right: 2px;
    font-size: 17px;
    position: relative;
    top: 2px;
}
.like-com li span {
    color: #ffffff;
    font-size: 13px;
    width: 30px;
    height: 30px;
    background-color: #CC0000;
    line-height: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    float: left;
    text-align: center;
    font-weight: 600;
    margin-left: -25px;
}
.like-com li .com {
    position: relative;
}
.like-com li .com img {
    margin-right: 10px;
}

.job-status-bar > a {
    float: right;
    color: #b2b2b2;
    font-size: 14px;
    margin-top: 5px;
}
.job-status-bar > a i {
    font-size: 20px;
    margin-right: 7px;
    position: relative;
    top: 3px;
}

/* ============= top-profiles ============ */

.top-profiles {
    float: left;
    width: 100%;
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
}
.pf-hd {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 20px;
    position: relative;
}
.pf-hd h3 {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    float: left;
}
.pf-hd i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 7px;
    color: #b2b2b2;
    font-size: 24px;
}


/* ============== profiles-slider ============== */

.profiles-slider {
    float: left;
    width: 100%;
    padding: 20px;
}
.user-profy {
    float: left;
    width: 100%;
    background-color: #fff;
    text-align: center;
    border-left: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    border-right: 1px solid #ececec;
    -webkit-box-shadow: 0px 0.5px 0.2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 0.5px 0.2px rgba(0,0,0,0.24);
    -ms-box-shadow: 0px 0.5px 0.2px rgba(0,0,0,0.24);
    -o-box-shadow: 0px 0.5px 0.2px rgba(0,0,0,0.24);
    box-shadow: 0px 0.5px 0.2px rgba(0,0,0,0.24);
    padding: 20px 0 0 0;
}
.user-profy > img {
    float: none;
    margin-bottom: 6px;
}
.user-profy h3 {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 4px;
}
.user-profy span {
    color: #b2b2b2;
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin-bottom: 15px;
}
.user-profy ul {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.user-profy ul li {
    display: inline-block;
}
.user-profy ul li a {
    color: #ffffff;
    font-size: 13px;
    padding: 0 8px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    text-transform: capitalize;
}
.followw {
    background-color: #53d690;
}
.envlp {
    background-color: #CC0000;
}
.envlp img {
    float: none;
}
.hire {
    background-color: #51a5fb;
}
.user-profy > a {
    float: left;
    width: 100%;
    color: #000000;
    font-size: 14px;
    text-transform: capitalize;
    padding: 15px 0;
    border-top: 1px solid #ececec;
    font-weight: 600;
}
.user-profy > a:hover {
    background-color: #CC0000;
    color: #fff;
}
.slick-slide img {
    display: inline-block;
}
.slick-slide {
    margin: 0 4px;
}
.envlp img {
    position: relative;
    top: 2px;
}
.no-margin {
    margin: 0;
    border: 0;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    border-radius: inherit;
}
.posty {
    float: left;
    width: 100%;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}
.posty .job-status-bar {
    border-bottom: 1px solid #e4e4e4;
}
.slick-previous:before {
    left: -14px;
    content: '\f104';
    margin-left: -2px;
}
.slick-nexti:before {
    right: -14px;
    content: '\f105';
    padding-left: 3px;
}
.slick-previous:before,
.slick-nexti:before {
    font-size: 24px;
    color: #b7b7b7;
    position: absolute;
    top: 50%;
    line-height: 27px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: fontawesome;
    width: 30px;
    height: 30px;
    background-color: #fff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    border: 1px solid #e6e6e6;
    text-align: center;
    cursor: pointer;
}
.slick-previous:hover:before,
.slick-nexti:hover:before {
    background-color: #CC0000;
    color: #fff;
    border-color: transparent;
}

/* ============= Suggestions ============ */

.sd-title {
    float: left;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}
.sd-title h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    float: left;
}
.sd-title i {
    float: right;
    color: #b7b7b7;
    font-size: 30px;
    position: absolute;
    right: 5px;
    top: 15px;
}
.suggestions-list {
    float: left;
    width: 100%;
    padding: 13px 0 30px 0;
}
.suggestion-usd {
    float: left;
    width: 100%;
    padding: 15px 20px;
}
.suggestion-usd img {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}
.sgt-text {
    float: left;
    padding-left: 10px;
}
.sgt-text h4 {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4px;
}
.sgt-text span {
    color: #686868;
    font-size: 12px;
}
.suggestion-usd > span {
    float: right;
    margin-top: 4px;
    position: relative;
}
.suggestion-usd > span i {
    color: #b2b2b2;
    width: 30px;
    height: 30px;
    border: 1px solid #e5e5e5;
    text-align: center;
    line-height: 30px;
    font-weight: 700;
    cursor: pointer;
}
.suggestion-usd > span i:hover {
    background-color: #CC0000;
    color: #fff;
}
.view-more {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.view-more > a {
    color: #CC0000;
    font-size: 14px;
    font-weight: 700;
}
.view-more > a:hover {
    color: #CC0000
}



/* ============== tags-sec ============= */

.tags-sec {
    background-color: #fff;
    padding: 25px 5px;
}
.tags-sec ul {
    float: left;
    width: 100%;
    text-align: center;
}
.tags-sec ul li {
    display: inline-block;
    border-right: 1px solid #b2b2b2;
    padding: 0 7px;
    margin-bottom: 15px;
}
.tags-sec ul li:nth-child(3),
.tags-sec ul li:nth-child(5),
.tags-sec ul li:nth-child(8) {
    border-right: 0;
}
.tags-sec ul li a {
    display: inline-block;
    color: #b2b2b2;
    font-size: 13px;
    font-weight: 500;
}
.tags-sec ul li a:hover {
    color: #CC0000;
}
.cp-sec {
    float: left;
    width: 100%;
    margin-top: 5px;
    padding: 0 13px;
}
.cp-sec > img {
    float: left;
    margin-top: 3px;
}
.cp-sec p {
    float: right;
    color: #b2b2b2;
    font-size: 14px;
    font-weight: 500;
}
.cp-sec p img {
    float: none;
    display: inline-block;
    position: relative;
    top: 3px;
    padding-right: 5px;
}

/* =============== comment-section ============== */

.comment-section {
    float: left;
    width: 100%;
    background-color: #fff;
    padding: 20px;
}
.plus-ic {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.plus-ic i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #e7e7e7;
    text-align: center;
    color: #b2b2b2;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}

/* =============== comment-sec ================ */


.comment-sec {
    float: left;
    width: 100%;
}
.comment-sec ul {
    float: left;
    width: 100%;
}
.comment-sec ul li {
    float: left;
    width: 100%;
}
.comment-sec ul ul {
    padding-left: 50px;
}
.comment-list {
    display: table;
    padding-bottom: 30px;
}
.bg-img {
    display: table-cell;
}
.bg-img img {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}
.comment {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    padding-left: 10px;
}
.comment h3 {
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 6px;
}
.comment img {
    position: relative;
    top: 2px;
    margin-right: 5px;
}
.comment span {
    color: #b2b2b2;
    font-size: 14px;
    display: block;
    margin-bottom: 14px;
}
.comment p {
    color: #686868;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 20px;
}
.comment > a {
    display: inline-block;
    color: #b2b2b2;
    font-size: 14px;
    font-weight: 600;
}
.comment > a.active,
.comment > a:hover {
    color: #e44d3a;
}
.comment > a i {
    font-weight: 600;
    margin-right: 6px;
}

/* =============== post-comment ============= */

.post-comment {
    float: left;
    width: 100%;
}
.cm_img {
    float: left;
    width: 40px;
    margin-right: 10px;
}
.comment_box {
    float: left;
}
.comment_box input {
    width: 387px;
    height: 40px;
    border: 1px solid #e5e5e5;
    background-color: #efefef;
    padding-left: 10px;
    color: #b2b2b2;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    resize: none;
}
.comment_box form button {
    float: right;
    color: #fff;
    background-color: #e44d3a;
    height: 40px;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    border: 0;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 600;
}

/* ============== process-comm ============= */

.process-comm {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}
.process-comm img {
    float: none;
}
/* =============== right-sidebar ============= */

.right-sidebar {
    float: left;
    width: 100%;
}
.widget {
    float: left;
    width: 100%;
    background-color: #fff;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 0px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 1px 0px 2px rgba(0,0,0,0.24);
    -ms-box-shadow: 1px 0px 2px rgba(0,0,0,0.24);
    -o-box-shadow: 1px 0px 2px rgba(0,0,0,0.24);
    box-shadow: 1px 0px 2px rgba(0,0,0,0.24);
}
.widget-about {
    text-align: center;
}
.widget-about img {
    float: none;
    padding-top: 20px;
}
.widget-about h3 {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}
.widget-about span {
    color: #686868;
    font-size: 14px;
    margin-bottom: 30px;
    float: left;
    width: 100%;
}
.sign_link {
    float: left;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    padding: 18px 0 15px 0;
}
.sign_link h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.sign_link h3 a {
    color: #000;
}
.sign_link > a {
    display: inline-block;
    color: #e44d3a;
    font-size: 14px;
    font-weight: 500;
}
.sign_link > a:hover {
    color: #e44d3a;
}

/* ============== Widget Jobs ============ */

.jobs-list {
    float: left;
    width: 100%;
    padding: 20px 20px;
}
.job-info {
    float: left;
    width: 100%;
    margin-bottom: 22px;
}
.job-info:last-child {
    margin-bottom: 0;
}
.job-details {
    float: left;
    width: 170px;
}
.job-details h3 {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}
.job-details p {
    color: #686868;
    font-size: 14px;
    line-height: 20px;
}
.hr-rate {
    float: right;
    width: 40px;
}
.hr-rate span {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    float: right;
}